<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="container d-flex justify-between align-center">
      <h1><a href="index.html" class="logo">眼鏡電商-Glasses</a></h1>
      <nav>
        <ul class="headerNav d-flex align-center">
          <li class="nav-item"><a href="productOptical.html">系列鏡框</a></li>
          <li class="nav-item"><a href="store.html">門市據點</a></li>
          <li class="nav-item"><a href="blog.html">部落格</a></li>
          <li class="nav-item"><a href="faq.html">常見問題</a></li>
        </ul>
        <!-- mobile hamburger menu-->
        <div class="mobileNav">
          <a href="#" class="menuIcon material-icons">menu</a>
          <a href="#" class="closeIcon material-icons">close</a>
        </div>
      </nav>
    </div>

  </header>
  <main>
      <%- contents %>
  </main>
  
  <footer class="footer">
    <div class="container">
      <div class="footerMain d-flex flex-column justify-between">
        <div class="d-flex justify-between align-center">
          <ul class="footerNav d-flex">
            <li><a href="#">首頁</a></li>
            <li><a href="product.html">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
          </ul>
          <ul class="footerSocialMedia d-flex align-center">
            <li><a href="#"><img src="./assets/images/ic-social-fb.png" alt="Facebook"></a></li>
            <li><a href="#"><img src="./assets/images/ic_social_ig.png" alt="Instagram"></a></li>
            <li><a href="#"><img src="./assets/images/ic_social_line.png" alt="LINE"></a></li>
          </ul>
        </div>
        <ul class="footerContact">
          <li class="d-flex align-center">
            <p class="material-icons">call</p>
            <a href="tel:+886800-000-000">0800-000-000</a>
          </li>
          <li class="d-flex align-center">
            <p class="material-icons">mail_outline</p>
            <a href="mailto:glasses@business.com">glasses@business.com</a>
          </li>
        </ul>
      </div>
      <div class="footerCopyright d-flex justify-between">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="terms d-flex justify-between">
          <li><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
