.blogPage {
  @include mobile {
    padding-top: 40px;
  }
}
.blogMenu {
  background-color: $danger;
  padding: 8px 0;
  margin-bottom: 96px;
  a {
    color: $white;
    font-weight: bold;
  }
  ul {
    gap: 48px;
  }
  .material-icons {
    font-size: 40px;
    font-weight: normal;
  }
  @include pad {
    margin-bottom: 80px;
  }
  @include mobile {
    display: none;
  }
}
.blogList {
  margin-top: 32px;
  @include mobile {
    margin-top: 24px;
  }
}

.blogPost {
  gap: 24px;
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 0;
  } 
  img {
    width: 50%;
  }
  .blogTitle {
    h2 {
      font-size: 1.5em;
      color: $danger;
    }
    p {
      font-size: 1.25em;
      font-weight: 500;
      color: $black;
    }
    time {
      font-weight: 500;
      color: $black;
      opacity: 70%;
    }
  }
  .blogContent {
    font-size: 1.25em;
    color: #555555;
    margin-top: 16px;
    &-md {
      display: none;
    }
  }
  .moreBtn {
    font-size: 2em;
    font-weight: bold;
    color: $danger;
    text-align: right;
  }
  @include pad {
    margin-bottom: 24px;
    .blogTitle {
      p, time {
        font-size: 1em;
      }
    }
    .blogContent {
      display: none;
    }
    .blogContent-md {
      display: block;
      font-size: 1em;
      color: #555555;
      margin-top: 4px;
    }
    .moreBtn {
      display: none;
    }
  }
  @include mobile {
    display: block;
    img {
      width: 100%;
    }
    .blogTitle {
      margin-top: 8px;
    }
    .blogContent-md {
      display: none;
    }
  }
}