.storePage {
  padding-top: 96px;
  padding-bottom: 80px;
  .pageTitle {
    margin-bottom: 32px;
  }
  @include mobile {
    padding-top: 40px;
    padding-bottom: 64px;
    padding-left: 13px;
    padding-right: 14px;
    .pageTitle {
      margin-bottom: 24px;
    }
  }
}
//=== dropdown ===/
.selectArea {
  font-size: 1.25em;
  @include mobile {
    font-size: 1em;
  }
}
.dropdown {
  width: 304px;
  margin-left: 16px;
  position: relative;
  display: inline-block;
  &-toggle {
    background-color: $white;
    border: 1px solid #CED4DA;
    color: #495057;
    padding: 6px 12px;
    cursor: pointer;
    &:hover {
        border: 1px solid #495057;
    }
  }
  &-menu {
    display: none;
    width: 304px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: $white;
    border: 1px solid #CED4DA;
    border-top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  &-item {
    padding: 6px 12px;
    font-size: 18px;
    line-height: 38px;
    color: $gray;
    &:hover {
      background-color: #f1f1f1;
    }
  }
  @include mobile {
      max-width: 276px;
      margin-left: 8px;
    &-menu {
      max-width: 276px;
    }
  }
}
.showDropdown {
  display: block;
}

//=== store card list ===/
.storeList {
  margin-top: 40px;
  margin-left: -12px;
  margin-right: -12px;
  row-gap: 48px;
  @include pad {
    row-gap: 24px;
  }
  @include mobile {
    margin-top: 24px;
  }
}
.storeCard {
  width: 33.33%;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "open sans";
  h3 {
    font-size: 1.5em;
    padding: 8px 24px;
    border: 1px solid #00000020;
  }
  ul {
    padding: 16px 24px;
    border: 1px solid #00000020;
    li {
      font-size: 20px;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .material-icons {
    margin-right: 8px;
    font-size: 24px;
  }
  a {
    background-color: $black;
    color: $white;
    text-align: center;
    font-size: 19px;
    padding: 16px 0px;
    transition: all ease .3s;
    &:hover {
      background-color: $dgray;
    }
  }
  @include pad {
    width: 50%;
  }
  @include mobile {
    width: 100%;
  }
}