@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
li {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Open Sans", Roboto, Arial, sans-serif;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  display: block;
  text-decoration: none; }

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 375px; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

header {
  background-color: #AA0601;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px; }

.logo {
  width: 80px;
  height: 49px;
  background-image: url(../images/logo-white.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; }

.headerNav {
  gap: 64px; }
  .headerNav a {
    color: white;
    font-size: 20px;
    -webkit-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    transition: ease all 0.5s; }
    .headerNav a:hover {
      -webkit-transform: scale(1.15);
          -ms-transform: scale(1.15);
              transform: scale(1.15); }
  @media (max-width: 767px) {
    .headerNav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
      border-top: 1px solid white;
      background-color: #AA0601;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
              transform: translateY(-100%);
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      -o-transition: transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s;
      gap: 0; }
      .headerNav .nav-item {
        width: 100%;
        text-align: center;
        background-color: #AA0601;
        border-bottom: 1px solid white; }
      .headerNav a {
        line-height: 48px; } }

.mobileNav {
  color: white;
  z-index: 100; }
  .mobileNav a {
    color: white;
    font-size: 40px; }

.menuIcon {
  display: none;
  font-size: 40px; }
  @media (max-width: 767px) {
    .menuIcon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.showMenu {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%); }

.closeIcon {
  display: none; }

.footer {
  height: 200px;
  background-color: #00cc99; }

/*# sourceMappingURL=all.css.map */
