@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
li {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Open Sans", Roboto, Arial, sans-serif;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  display: block;
  text-decoration: none;
  color: #000000; }

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 375px; } }

main {
  margin-top: 80px; }

.pageTitle {
  font-size: 3em;
  font-weight: 900;
  border-left: 8px solid #AA0601;
  padding-left: 16px; }
  @media (max-width: 767px) {
    .pageTitle {
      font-size: 1.5em; } }

.selector {
  margin-top: 33px; }
  .selector p {
    font-size: 1.5em; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end; }

header {
  background-color: #AA0601;
  height: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px; }

.logo {
  width: 80px;
  height: 48.57px;
  background-image: url(../images/logo-white.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; }

.headerNav {
  gap: 64px; }
  .headerNav a {
    color: white;
    font-size: 20px; }
  @media (max-width: 767px) {
    .headerNav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
      border-top: 1px solid white;
      background-color: #AA0601;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
              transform: translateY(-100%);
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      -o-transition: transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s;
      gap: 0; }
      .headerNav .nav-item {
        width: 100%;
        text-align: center;
        background-color: #AA0601;
        border-bottom: 1px solid white; }
      .headerNav a {
        line-height: 48px; } }

.mobileNav {
  display: none;
  color: white;
  z-index: 99; }
  .mobileNav a {
    color: white;
    font-size: 40px; }
  @media (max-width: 767px) {
    .mobileNav {
      display: block; } }

.menuIcon {
  font-size: 40px; }

.closeIcon {
  display: none; }

.showMenu {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%); }

.footer {
  background-color: #AA0601;
  padding-top: 48px;
  padding-bottom: 32px;
  color: white; }
  .footer a {
    color: white; }
  @media (max-width: 992px) {
    .footer {
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    .footer {
      padding-top: 24px;
      padding-bottom: 24px; } }

.footerMain {
  border-bottom: 1px solid white;
  padding-bottom: 32px;
  margin-bottom: 32px; }
  @media (max-width: 767px) {
    .footerMain {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-bottom: 24px;
      margin-bottom: 24px; } }

.footerNav {
  gap: 48px; }
  @media (max-width: 767px) {
    .footerNav {
      display: none; } }

.footerSocialMedia {
  gap: 32px; }
  .footerSocialMedia img {
    width: 48px;
    height: 48px; }
  @media (max-width: 992px) {
    .footerSocialMedia {
      gap: 16px; }
      .footerSocialMedia img {
        width: 40px;
        height: 40px; } }
  @media (max-width: 767px) {
    .footerSocialMedia {
      gap: 8px; }
      .footerSocialMedia img {
        width: 24px;
        height: 24px; } }

.footerContact {
  color: white;
  font-size: 36px;
  margin-top: 24px; }
  .footerContact .material-icons {
    margin-right: 16px;
    font-size: 48px; }
  .footerContact li:first-child {
    margin-bottom: 8px; }
  @media (max-width: 767px) {
    .footerContact {
      font-size: 16px;
      margin-top: 0; }
      .footerContact .material-icons {
        margin-right: 8px;
        font-size: 24px; } }

.footerCopyright {
  font-size: 14px; }
  .footerCopyright .terms {
    gap: 48px; }
  @media (max-width: 767px) {
    .footerCopyright {
      font-size: 16px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footerCopyright .terms {
        margin-top: 8px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 8px; } }

.hero {
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 992px) {
    .hero {
      background-image: url(../images/home-header-sm.png); } }
  @media (max-width: 767px) {
    .hero {
      background-image: url(../images/home-header-sm.png); } }

.heroIntro {
  height: 787px; }
  .heroIntro p {
    font-size: 2.25em;
    color: #650300; }
  .heroIntro h2 {
    font-size: 4em;
    color: #650300;
    font-weight: bold; }
  .heroIntro a {
    margin-top: 4px;
    padding: 6px 12px;
    background-color: #AA0601;
    font-size: 1.25em;
    color: #fff; }
  @media (max-width: 767px) {
    .heroIntro {
      height: 396px; }
      .heroIntro p {
        font-size: 1em; }
      .heroIntro h2 {
        font-size: 1.5em; }
      .heroIntro a {
        margin-top: 8px; } }

.section {
  padding-top: 80px;
  padding-bottom: 80px; }
  .section-title {
    font-size: 3em;
    text-align: center;
    color: #650300;
    font-weight: bold;
    margin-bottom: 24px; }
  .section-list {
    gap: 24px; }
  @media (max-width: 767px) {
    .section {
      padding-top: 40px;
      padding-bottom: 40px; }
      .section-title {
        font-size: 1.5em; } }

.feature {
  background-color: #FBF2F2; }
  .feature img {
    height: 100px;
    width: 100px;
    margin-bottom: 16px; }
  .feature h3 {
    font-size: 1.5em;
    text-align: center;
    color: #650300;
    font-weight: bold;
    margin-bottom: 8px; }
  .feature li {
    width: 18%; }
  @media (max-width: 992px) {
    .feature li {
      width: 48%; } }
  @media (max-width: 767px) {
    .feature li {
      width: 100%; } }

.product img {
  margin-bottom: 8px; }

.product h3 {
  font-size: 3em;
  text-align: center;
  color: #AA0601;
  font-weight: bold;
  font-style: italic; }

.product li {
  width: 30%; }

@media (max-width: 992px) {
  .product li {
    width: 100%; } }

.coDesign {
  background-image: url(../images/index-bg-md.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0; }
  .coDesign h2 {
    color: #fff; }
  .coDesign li {
    width: 50%;
    background-color: #fff; }
  .coDesign h3 {
    color: #AA0601;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding: 8px 0px; }
  .coDesign-bg1 {
    height: 240px;
    background-image: url(../images/home-section4-1.png);
    background-size: cover; }
  .coDesign-bg2 {
    height: 240px;
    background-image: url(../images/home-section4-2.png);
    background-size: cover; }
  @media (max-width: 992px) {
    .coDesign ul {
      gap: 24px; }
    .coDesign li {
      width: 100%; } }
  @media (max-width: 767px) {
    .coDesign li {
      width: 100%; }
    .coDesign-bg1 {
      background-image: url(../images/home-section4-1-sm.png); }
    .coDesign-bg2 {
      background-image: url(../images/home-section4-2-sm.png); } }

.customer li {
  width: 23%;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029; }
  .customer li div {
    padding: 16px; }

.customer h4 {
  margin-bottom: 8px;
  font-weight: 500; }

.customer p {
  margin-bottom: 72px; }

.customer time {
  color: #707070;
  font-size: 0.875em; }

@media (max-width: 992px) {
  .customer li {
    width: 48%; } }

@media (max-width: 767px) {
  .customer ul {
    gap: 16px; }
  .customer li {
    width: 100%; } }

.contact {
  background-color: #FBF2F2; }
  .contact .contactUs {
    width: 49%;
    margin: 0 auto; }
    .contact .contactUs > p {
      font-size: 1.25em;
      margin-bottom: 24px; }
  .contact input, .contact textarea {
    width: 100%;
    background-color: #FBF2F2;
    border: 1px solid #000000;
    padding: 6px 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5; }
    .contact input[type="checkbox"], .contact textarea[type="checkbox"] {
      width: 24px;
      height: 24px;
      margin: 0px;
      padding: 0px;
      margin-right: 4px;
      border: 2px solid #000000; }
    .contact input[type="button"], .contact textarea[type="button"] {
      border: 0;
      background-color: #AA0601;
      color: #fff;
      font-weight: bold;
      padding: 16px 0px;
      margin-top: 24px;
      cursor: pointer; }
  @media (max-width: 992px) {
    .contact .contactUs {
      width: 75%; } }
  @media (max-width: 767px) {
    .contact .contactUs {
      width: 100%; }
      .contact .contactUs > p {
        font-size: 16px; } }

.productNav li {
  width: 33.33%; }

.productNav a {
  border: 1px solid #DCDCDC;
  border-bottom: 8px solid transparent;
  padding-top: 24px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  color: #000000; }
  .productNav a.show, .productNav a:hover {
    border-bottom: 8px solid #AA0601; }

@media (max-width: 992px) {
  .productNav {
    max-width: 100%;
    padding: 0; } }

@media (max-width: 767px) {
  .productNav a {
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 1em; } }

.productHeader {
  height: 296px; }
  .productHeader div {
    width: 50%; }
  .productHeader-bg1, .productHeader-bg2, .productHeader-bg3, .productHeader-bg4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .productHeader-bg1 {
    background-image: url(../images/product-header-1.png); }
  .productHeader-bg2 {
    background-image: url(../images/product-header-2.png); }
  .productHeader-bg3 {
    background-image: url(../images/product-header-3.png); }
  .productHeader-bg4 {
    background-image: url(../images/product-header-4.png); }
  @media (max-width: 992px) {
    .productHeader-bg1 {
      background-image: url(../images/product-header-sm-1.png); }
    .productHeader-bg2 {
      background-image: url(../images/product-header-sm-2.png); }
    .productHeader-bg3 {
      background-image: url(../images/product-header-sm-3.png); }
    .productHeader-bg4 {
      background-image: url(../images/product-header-sm-4.png); } }
  @media (max-width: 767px) {
    .productHeader {
      height: 136px; } }

.productMain h1 {
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  margin-top: 80px; }

.productMain span {
  font-size: 32px;
  font-weight: normal; }

@media (max-width: 767px) {
  .productMain h1 {
    font-size: 24px;
    margin-top: 40px; }
  .productMain span {
    font-size: 24px; } }

.productList {
  margin-top: 32px;
  margin-left: -12px;
  margin-right: -12px;
  gap: 80px 0px; }
  @media (max-width: 992px) {
    .productList {
      gap: 40px 0px; } }
  @media (max-width: 767px) {
    .productList {
      margin-top: 24px;
      gap: 24px 0px; } }

.productItem {
  padding: 0px 12px; }
  .productItem-text {
    font-size: 1.5em;
    font-family: 'Roboto'; }
    .productItem-text p {
      color: #AA0601;
      font-weight: 500; }
  .productItem-color {
    gap: 8px; }
    .productItem-color div {
      width: 24px;
      height: 24px;
      border-radius: 4px; }
      .productItem-color div:first-child {
        background-color: #5F3E2D; }
      .productItem-color div:nth-child(2) {
        background-color: #B75929; }

.optical {
  width: 25%; }
  @media (max-width: 992px) {
    .optical {
      width: 50%; } }
  @media (max-width: 767px) {
    .optical {
      width: 100%; } }

.sunglasses {
  width: 33.3%; }
  @media (max-width: 992px) {
    .sunglasses {
      width: 50%; } }
  @media (max-width: 767px) {
    .sunglasses {
      width: 100%; } }

.pagination {
  margin: 80px auto; }
  .pagination a {
    padding: 12px 15px;
    border-top: 1px solid #555555;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
    font-size: 18px;
    text-align: center;
    color: #555555;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s; }
    .pagination a:hover {
      background-color: #F2F2F2; }
    .pagination a.pageUp {
      border-left: 1px solid #555555;
      padding: 12px 11px; }
    .pagination a.pageDown {
      padding: 12px 11px; }
  .pagination .active {
    background-color: #000000;
    color: #fff; }
    .pagination .active:hover {
      background-color: #000000;
      color: #fff; }
  @media (max-width: 767px) {
    .pagination {
      margin: 64px auto; }
      .pagination a {
        font-size: 16px; } }

.storePage {
  padding-top: 96px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .storePage {
      padding-top: 40px;
      padding-bottom: 64px;
      padding-left: 13px;
      padding-right: 14px; } }

.selectArea {
  margin-top: 32px; }
  .selectArea p {
    font-size: 1.25em; }
  @media (max-width: 767px) {
    .selectArea {
      margin-top: 24px; }
      .selectArea p {
        font-size: 1em; } }

.dropdown {
  width: 304px;
  margin-left: 16px;
  position: relative;
  display: inline-block; }
  .dropdown-toggle {
    background-color: #fff;
    border: 1px solid #CED4DA;
    color: #495057;
    padding: 6px 12px;
    cursor: pointer; }
    .dropdown-toggle:hover {
      border: 1px solid #495057; }
  .dropdown-menu {
    display: none;
    width: 304px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #CED4DA;
    border-top: 0px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .dropdown-item {
    padding: 6px 12px;
    font-size: 18px;
    line-height: 38px;
    color: #707070; }
    .dropdown-item:hover {
      background-color: #f1f1f1; }
  @media (max-width: 767px) {
    .dropdown {
      max-width: 276px;
      margin-left: 8px; }
      .dropdown-menu {
        max-width: 276px; } }

.showDropdown {
  display: block; }

.storeList {
  margin-top: 40px;
  margin-left: -12px;
  margin-right: -12px;
  row-gap: 48px; }
  @media (max-width: 992px) {
    .storeList {
      row-gap: 24px; } }
  @media (max-width: 767px) {
    .storeList {
      margin-top: 24px; } }

.storeCard {
  width: 33.33%;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "open sans"; }
  .storeCard h3 {
    font-size: 1.5em;
    padding: 8px 24px;
    border: 1px solid #00000020; }
  .storeCard ul {
    padding: 16px 24px;
    border: 1px solid #00000020; }
    .storeCard ul li {
      font-size: 20px;
      margin-bottom: 8px; }
      .storeCard ul li:last-child {
        margin-bottom: 0; }
  .storeCard .material-icons {
    margin-right: 8px;
    font-size: 24px; }
  .storeCard a {
    background-color: #000000;
    color: #fff;
    text-align: center;
    font-size: 19px;
    padding: 16px 0px;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s; }
    .storeCard a:hover {
      background-color: #212529; }
  @media (max-width: 992px) {
    .storeCard {
      width: 50%; } }
  @media (max-width: 767px) {
    .storeCard {
      width: 100%; } }

.singleStore {
  margin-top: 40px; }
  .singleStore .storeCard {
    padding: 0px;
    width: 41.66%;
    margin-right: 24px; }
  .singleStore .storeMap {
    width: 60%; }
  @media (max-width: 992px) {
    .singleStore {
      display: block; }
      .singleStore .storeCard {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 24px;
           -moz-column-gap: 24px;
                column-gap: 24px; }
        .singleStore .storeCard img {
          width: 50%; }
        .singleStore .storeCard div {
          width: 50%; }
      .singleStore .storeMap {
        width: 100%;
        height: 414px;
        margin-top: 24px; } }
  @media (max-width: 767px) {
    .singleStore {
      margin-top: 24px; }
      .singleStore .storeCard {
        display: block; }
        .singleStore .storeCard img {
          width: 100%; }
        .singleStore .storeCard div {
          width: 100%; } }

.blogPage .pageTitle {
  margin-top: 96px; }

@media (max-width: 992px) {
  .blogPage .pageTitle {
    margin-top: 80px; } }

@media (max-width: 767px) {
  .blogPage {
    padding-top: 40px; }
    .blogPage .pageTitle {
      margin-top: 0; } }

.blogMenu {
  background-color: #650300;
  padding: 8px 0; }
  .blogMenu a {
    color: #fff;
    font-weight: bold;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    .blogMenu a:hover {
      text-shadow: 2px 2px 5px rgba(251, 242, 242, 0.4); }
  .blogMenu ul {
    gap: 48px; }
  .blogMenu .material-icons {
    font-size: 40px;
    font-weight: normal; }
  @media (max-width: 767px) {
    .blogMenu {
      display: none; } }

.blogList {
  margin-top: 32px; }
  @media (max-width: 767px) {
    .blogList {
      margin-top: 24px; } }

.blogPost {
  gap: 24px;
  margin-bottom: 60px; }
  .blogPost:last-child {
    margin-bottom: 0; }
  .blogPost img {
    width: 50%; }
  .blogPost .blogTitle h2 {
    font-size: 1.5em;
    color: #650300; }
  .blogPost .blogTitle p {
    font-size: 1.25em;
    font-weight: 500;
    color: #000000; }
  .blogPost .blogTitle time {
    font-weight: 500;
    color: #000000;
    opacity: 70%; }
  .blogPost .blogContent {
    font-size: 1.25em;
    color: #555555;
    margin-top: 16px; }
    .blogPost .blogContent-md {
      display: none; }
  .blogPost .moreBtn {
    font-size: 2em;
    font-weight: bold;
    color: #650300;
    text-align: right; }
    .blogPost .moreBtn:hover {
      color: #AA0601; }
  @media (max-width: 992px) {
    .blogPost {
      margin-bottom: 24px; }
      .blogPost .blogTitle p, .blogPost .blogTitle time {
        font-size: 1em; }
      .blogPost .blogContent {
        display: none; }
      .blogPost .blogContent-md {
        display: block;
        font-size: 1em;
        color: #555555;
        margin-top: 4px; }
      .blogPost .moreBtn {
        display: none; } }
  @media (max-width: 767px) {
    .blogPost {
      display: block; }
      .blogPost img {
        width: 100%; }
      .blogPost .blogTitle {
        margin-top: 8px; }
      .blogPost .blogContent-md {
        display: none; } }

@media (max-width: 767px) {
  .blogPageSingle .container {
    padding-left: 13px;
    padding-right: 14px; } }

@media (max-width: 767px) {
  .blogMenu {
    display: block;
    padding: 12px 10; }
    .blogMenu .material-icons {
      display: none; }
    .blogMenu ul {
      gap: 25px; } }

.crumbs {
  margin-top: 24px; }
  @media (max-width: 767px) {
    .crumbs {
      margin-top: 16px; } }

.crumb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .crumb > a::after {
    display: inline-block;
    content: '/';
    color: #000000;
    padding: 0px 3px; }
  .crumb:last-child {
    color: #AA0601; }

.hashtags {
  margin-top: 8px;
  gap: 15px; }
  .hashtags a {
    font-size: 1.5em;
    color: #AA0601;
    font-weight: bold; }
    .hashtags a:hover {
      opacity: 0.8; }
  @media (max-width: 767px) {
    .hashtags {
      gap: 16px; }
      .hashtags a {
        font-size: 1em; } }

.blogArea {
  width: 70%;
  margin-right: 24px;
  padding-bottom: 80px; }
  .blogArea article > img {
    margin-bottom: 8px; }
  .blogArea article > p {
    margin-bottom: 40px;
    color: #555555; }
  .blogArea hgroup {
    margin-bottom: 16px; }
    .blogArea hgroup h2 {
      font-size: 3em; }
    .blogArea hgroup p {
      font-size: 1.5em;
      font-weight: 500; }
  @media (max-width: 992px) {
    .blogArea {
      width: 75%; }
      .blogArea article > img {
        margin-bottom: 16px; }
      .blogArea article > p {
        margin-bottom: 24px; }
      .blogArea hgroup {
        margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .blogArea {
      width: 100%;
      padding-bottom: 64px; }
      .blogArea article > img {
        margin-bottom: 8px; }
      .blogArea article > p {
        margin-bottom: 16px; } }

.blogFooter .share {
  gap: 16px;
  border-bottom: 1px solid #707070;
  padding-bottom: 16px; }
  .blogFooter .share p {
    font-weight: bold; }
  .blogFooter .share img {
    width: 24px;
    height: 24px;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s; }
    .blogFooter .share img:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }

.blogFooter .nextBlog {
  margin-top: 24px; }
  .blogFooter .nextBlog a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 8px; }
    .blogFooter .nextBlog a .span {
      font-size: 24px; }
    .blogFooter .nextBlog a:hover {
      color: #AA0601; }

@media (max-width: 767px) {
  .blogFooter {
    display: none; } }

.blogTags {
  width: 25%; }
  .blogTags h4 {
    color: #AA0601;
    font-size: 2em;
    font-weight: bold; }
  .blogTags span {
    color: #AA0601;
    font-size: 48px;
    margin-right: 8px; }
  .blogTags ul {
    margin-top: 4px; }
    .blogTags ul li {
      margin-right: 24px; }
    .blogTags ul a {
      color: #AA0601;
      font-size: 1.5em;
      font-weight: bold; }
  @media (max-width: 992px) {
    .blogTags h4 {
      font-size: 1em;
      line-height: 24px; }
    .blogTags span {
      font-size: 24px; }
    .blogTags ul {
      margin-top: 8px; }
      .blogTags ul li {
        margin-right: 16px; }
      .blogTags ul a {
        font-size: 1em; } }
  @media (max-width: 767px) {
    .blogTags {
      display: none; } }

.faqPage {
  padding-top: 96px;
  padding-bottom: 80px; }
  .faqPage h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 32px; }
  .faqPage ul {
    margin-top: 24px; }
  .faqPage h3 {
    font-size: 1.25em;
    font-weight: bold; }
  .faqPage p {
    margin-top: 8px; }
  .faqPage li {
    margin-bottom: 32px; }
    .faqPage li:last-child {
      margin-bottom: 0; }
  @media (max-width: 767px) {
    .faqPage {
      padding-top: 40px;
      padding-bottom: 64px; }
      .faqPage h2 {
        margin-top: 24px; }
      .faqPage li {
        margin-bottom: 24px; } }

/*# sourceMappingURL=all.css.map */
