@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
li {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Open Sans", Roboto, Arial, sans-serif;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  display: block;
  text-decoration: none; }

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 375px; } }

main {
  margin-top: 80px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end; }

header {
  background-color: #AA0601;
  height: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px; }

.logo {
  width: 80px;
  height: 48.57px;
  background-image: url(../images/logo-white.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; }

.headerNav {
  gap: 64px; }
  .headerNav a {
    color: white;
    font-size: 20px; }
  @media (max-width: 767px) {
    .headerNav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
      border-top: 1px solid white;
      background-color: #AA0601;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
              transform: translateY(-100%);
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      -o-transition: transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s;
      gap: 0; }
      .headerNav .nav-item {
        width: 100%;
        text-align: center;
        background-color: #AA0601;
        border-bottom: 1px solid white; }
      .headerNav a {
        line-height: 48px; } }

.mobileNav {
  display: none;
  color: white;
  z-index: 100; }
  .mobileNav a {
    color: white;
    font-size: 40px; }
  @media (max-width: 767px) {
    .mobileNav {
      display: block; } }

.menuIcon {
  font-size: 40px; }

.closeIcon {
  display: none; }

.showMenu {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%); }

.footer {
  background-color: #AA0601;
  padding-top: 48px;
  padding-bottom: 32px;
  color: white; }
  .footer a {
    color: white; }
  @media (max-width: 992px) {
    .footer {
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    .footer {
      padding-top: 24px;
      padding-bottom: 24px; } }

.footerMain {
  border-bottom: 1px solid white;
  padding-bottom: 32px;
  margin-bottom: 32px; }
  @media (max-width: 767px) {
    .footerMain {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-bottom: 24px;
      margin-bottom: 24px; } }

.footerNav {
  gap: 48px; }
  @media (max-width: 767px) {
    .footerNav {
      display: none; } }

.footerSocialMedia {
  gap: 32px; }
  .footerSocialMedia img {
    width: 48px;
    height: 48px; }
  @media (max-width: 992px) {
    .footerSocialMedia {
      gap: 16px; }
      .footerSocialMedia img {
        width: 40px;
        height: 40px; } }
  @media (max-width: 767px) {
    .footerSocialMedia {
      gap: 8px; }
      .footerSocialMedia img {
        width: 24px;
        height: 24px; } }

.footerContact {
  color: white;
  font-size: 36px;
  margin-top: 24px; }
  .footerContact .material-icons {
    margin-right: 16px;
    font-size: 48px; }
  .footerContact li:first-child {
    margin-bottom: 8px; }
  @media (max-width: 767px) {
    .footerContact {
      font-size: 16px;
      margin-top: 0; }
      .footerContact .material-icons {
        margin-right: 8px;
        font-size: 24px; } }

.footerCopyright {
  font-size: 14px; }
  .footerCopyright .terms {
    gap: 48px; }
  @media (max-width: 767px) {
    .footerCopyright {
      font-size: 16px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footerCopyright .terms {
        margin-top: 8px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 8px; } }

.hero {
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 992px) {
    .hero {
      background-image: url(../images/home-header-sm.png); } }
  @media (max-width: 767px) {
    .hero {
      background-image: url(../images/home-header-sm.png); } }

.heroIntro {
  height: 787px; }
  .heroIntro p {
    font-size: 2.25em;
    color: #650300; }
  .heroIntro h2 {
    font-size: 4em;
    color: #650300;
    font-weight: bold; }
  .heroIntro a {
    margin-top: 4px;
    padding: 6px 12px;
    background-color: #AA0601;
    font-size: 1.25em;
    color: #fff; }
  @media (max-width: 767px) {
    .heroIntro {
      height: 396px; }
      .heroIntro p {
        font-size: 1em; }
      .heroIntro h2 {
        font-size: 1.5em; }
      .heroIntro a {
        margin-top: 8px; } }

.section {
  padding-top: 80px;
  padding-bottom: 80px; }
  .section-title {
    font-size: 3em;
    text-align: center;
    color: #650300;
    font-weight: bold;
    margin-bottom: 24px; }
  .section-list {
    gap: 24px; }
  @media (max-width: 767px) {
    .section {
      padding-top: 40px;
      padding-bottom: 40px; }
      .section-title {
        font-size: 1.5em; } }

.feature {
  background-color: #FBF2F2; }
  .feature img {
    height: 100px;
    width: 100px;
    margin-bottom: 16px; }
  .feature h3 {
    font-size: 1.5em;
    text-align: center;
    color: #650300;
    font-weight: bold;
    margin-bottom: 8px; }
  .feature li {
    width: 18%; }
  @media (max-width: 992px) {
    .feature li {
      width: 48%; } }
  @media (max-width: 767px) {
    .feature li {
      width: 100%; } }

.product img {
  margin-bottom: 8px; }

.product h3 {
  font-size: 3em;
  text-align: center;
  color: #AA0601;
  font-weight: bold;
  font-style: italic; }

.product li {
  width: 30%; }

@media (max-width: 992px) {
  .product li {
    width: 100%; } }

.coDesign {
  background-image: url(../images/index-bg-md.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0; }
  .coDesign h2 {
    color: #fff; }
  .coDesign li {
    width: 50%;
    background-color: #fff; }
  .coDesign h3 {
    color: #AA0601;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding: 8px 0px; }
  .coDesign-bg1 {
    height: 240px;
    background-image: url(../images/home-section4-1.png);
    background-size: cover; }
  .coDesign-bg2 {
    height: 240px;
    background-image: url(../images/home-section4-2.png);
    background-size: cover; }
  @media (max-width: 992px) {
    .coDesign ul {
      gap: 24px; }
    .coDesign li {
      width: 100%; } }
  @media (max-width: 767px) {
    .coDesign li {
      width: 100%; }
    .coDesign-bg1 {
      background-image: url(../images/home-section4-1-sm.png); }
    .coDesign-bg2 {
      background-image: url(../images/home-section4-2-sm.png); } }

.customer li {
  width: 23%;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029; }
  .customer li div {
    padding: 16px; }

.customer h4 {
  margin-bottom: 8px;
  font-weight: 500; }

.customer p {
  margin-bottom: 72px; }

.customer time {
  color: #707070;
  font-size: 0.875em; }

@media (max-width: 992px) {
  .customer li {
    width: 48%; } }

@media (max-width: 767px) {
  .customer ul {
    gap: 16px; }
  .customer li {
    width: 100%; } }

.contact {
  background-color: #FBF2F2; }
  .contact .contactUs {
    width: 49%;
    margin: 0 auto; }
    .contact .contactUs > p {
      font-size: 1.25em;
      margin-bottom: 24px; }
  .contact input, .contact textarea {
    width: 100%;
    background-color: #FBF2F2;
    border: 1px solid #000000;
    padding: 6px 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5; }
    .contact input[type="checkbox"], .contact textarea[type="checkbox"] {
      width: 24px;
      height: 24px;
      margin: 0px;
      padding: 0px;
      margin-right: 4px;
      border: 2px solid #000000; }
    .contact input[type="button"], .contact textarea[type="button"] {
      border: 0;
      background-color: #AA0601;
      color: #fff;
      font-weight: bold;
      padding: 16px 0px;
      margin-top: 24px;
      cursor: pointer; }
  @media (max-width: 992px) {
    .contact .contactUs {
      width: 75%; } }
  @media (max-width: 767px) {
    .contact .contactUs {
      width: 100%; }
      .contact .contactUs > p {
        font-size: 16px; } }

.productNav li {
  width: 33.33%; }

.productNav a {
  border: 1px solid #DCDCDC;
  border-bottom: 8px solid transparent;
  padding-top: 24px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  color: #000000; }
  .productNav a.show, .productNav a:hover {
    border-bottom: 8px solid #AA0601; }

@media (max-width: 992px) {
  .productNav {
    max-width: 100%;
    padding: 0; } }

@media (max-width: 767px) {
  .productNav a {
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 1em; } }

.productHeader {
  height: 296px; }
  .productHeader div {
    width: 50%; }
  .productHeader-bg1, .productHeader-bg2, .productHeader-bg3, .productHeader-bg4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .productHeader-bg1 {
    background-image: url(../images/product-header-1.png); }
  .productHeader-bg2 {
    background-image: url(../images/product-header-2.png); }
  .productHeader-bg3 {
    background-image: url(../images/product-header-3.png); }
  .productHeader-bg4 {
    background-image: url(../images/product-header-4.png); }
  @media (max-width: 992px) {
    .productHeader-bg1 {
      background-image: url(../images/product-header-sm-1.png); }
    .productHeader-bg2 {
      background-image: url(../images/product-header-sm-2.png); }
    .productHeader-bg3 {
      background-image: url(../images/product-header-sm-3.png); }
    .productHeader-bg4 {
      background-image: url(../images/product-header-sm-4.png); } }
  @media (max-width: 767px) {
    .productHeader {
      height: 136px; } }

.productMain h1 {
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  margin-top: 80px; }

.productMain span {
  font-size: 32px;
  font-weight: normal; }

@media (max-width: 767px) {
  .productMain h1 {
    font-size: 24px;
    margin-top: 40px; }
  .productMain span {
    font-size: 24px; } }

.productList {
  margin-top: 32px;
  margin-left: -12px;
  margin-right: -12px;
  gap: 80px 0px; }
  @media (max-width: 992px) {
    .productList {
      gap: 40px 0px; } }
  @media (max-width: 767px) {
    .productList {
      margin-top: 24px;
      gap: 24px 0px; } }

.productItem {
  padding: 0px 12px; }
  .productItem-text {
    font-size: 1.5em;
    font-family: 'Roboto'; }
    .productItem-text p {
      color: #AA0601;
      font-weight: 500; }
  .productItem-color {
    gap: 8px; }
    .productItem-color div {
      width: 24px;
      height: 24px;
      border-radius: 4px; }
      .productItem-color div:first-child {
        background-color: #5F3E2D; }
      .productItem-color div:nth-child(2) {
        background-color: #B75929; }

.optical {
  width: 25%; }
  @media (max-width: 992px) {
    .optical {
      width: 50%; } }
  @media (max-width: 767px) {
    .optical {
      width: 100%; } }

.sunglasses {
  width: 33.3%; }
  @media (max-width: 992px) {
    .sunglasses {
      width: 50%; } }
  @media (max-width: 767px) {
    .sunglasses {
      width: 100%; } }

.pagination {
  margin: 80px auto; }
  .pagination a {
    padding: 12px 15px;
    border-top: 1px solid #555555;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
    font-size: 18px;
    text-align: center;
    color: #555555;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s; }
    .pagination a:hover {
      background-color: #F2F2F2; }
    .pagination a.pageUp {
      border-left: 1px solid #555555;
      padding: 12px 11px; }
    .pagination a.pageDown {
      padding: 12px 11px; }
  .pagination .active {
    background-color: #000000;
    color: #fff; }
    .pagination .active:hover {
      background-color: #000000;
      color: #fff; }
  @media (max-width: 767px) {
    .pagination {
      margin: 64px auto; }
      .pagination a {
        font-size: 16px; } }

/*# sourceMappingURL=all.css.map */
