// pagination
.pagination {
  margin: 80px auto;

  a {
    //line-height: 45px;
    padding: 12px 15px;
    border-top: 1px solid $pagination-border;
    border-right: 1px solid $pagination-border;
    border-bottom: 1px solid $pagination-border;
    font-size: 18px;
    text-align: center;
    color: $pagination-border;
    transition: background-color .3s;

    &:hover {
      background-color: #F2F2F2;
    }

    &.pageUp {
      border-left: 1px solid $pagination-border;
      padding: 12px 11px;
    }

    &.pageDown {
      padding: 12px 11px;
    }
  }

  .active {
    background-color: $dark;
    color: $white;

    &:hover {
      background-color: $dark;
      color: $white;
    }
  }

  @include mobile {
    margin: 64px auto;

    a {
      font-size: 16px;
    }
  }
}